#sharingButtons div, #sharingButtons i{
  cursor: pointer;
}
#sharingButtons div:hover, #sharingButtons i:hover{
  cursor: pointer;
  color: gray;
}

#gauge {
  height:200px;
}

.fa-facebook-square {
  color: #4267b2;
}

.fa-twitter-square {
  color: #38A1F3;
}

.fa-reddit-square {
  color: #ff4500;
}

.fa-whatsapp-square {
  color: #25D366;
}
