
<div class="row h-50">
  <div class="col">
    <h2>Voter Power Privacy Policy</h2>
    <div>
      <p>
        No personal data is collected, stored or transmitted by this website. Your postcode is collected only to lookup your parliamentary constituency; it is never stored. Google Analytics is used to anonymously track website usage, in line with most other websites on the internet.
      </p>
      <h4>Cookies</h4>
      <div>
        <script id="CookieDeclaration" src="https://consent.cookiebot.com/e3028cb4-7e6f-4b8c-bb12-5e3cc7c472e1/cd.js" type="text/javascript" async></script>
      </div>
    </div>
  </div>

</div>
